<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LifeLine</title>
    <link
      rel="icon"
      type="image/jpg"
      sizes="60x60"
      href="/imgs/SmallHeart.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />

    <!-- Some Google Fonts for flavor -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;1,8..144,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <body>

        <header class="container">
          <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <div class="container-fluid">
              <img class="fav" src="imgs/Smallish.png" alt="LifeLine Heart">
            <a class="navbar-brand" href="/welcome">LifeLine</a>
            <span class="justify-content-left tagline">Organization for Peace of Mind</span>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown" aria-controls="navbarWithDropdown" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarWithDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link btn-outline-primary" href="/welcome">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn-outline-primary" href="/calendar">Your Calendar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn-outline-primary" href="/dashboard">Add a Medicine</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link btn-outline-primary" href="/cabinet">Medicine Cabinet</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link btn-outline-primary" href="/contact">Your Doctors</a>
                  </li>
                  <li class="nav-item"> 
                    <a class="nav-link btn-outline-primary" href="/signup">Create Account</a>
                  </li> 
                  <li class="nav-item"> 
                    <a class="nav-link btn-outline-primary" href="/logout">Logout</a>
                  </li>   
                </ul>
              </div>
            </div>
          </nav>
        </header>
    
             <H2>  HTML calendar. Wrong .</H2>
        <template>
          <b-row>
            <b-col md="auto">
              <b-calendar v-model="value" @context="onContext" locale="en-US"></b-calendar>
            </b-col>
            <b-col>
              <p>Value: <b>'{{ value }}'</b></p>
              <p class="mb-0">Context:</p>
              <pre class="small">{{ context }}</pre>
            </b-col>
          </b-row>
        </template>
    
    <!-- ParkerLewis -->
    <link rel="stylesheet" href="/css/style.css" />
    
    <div class="over">
    
        <div class="main">
            <div class="guide-card">
                <img src="imgs/contemplate.jpg" class="card-img-top" alt="card-img-top">
                <div class="card-body">
                  <h3 class="card-title">Maintain your Schedule</h3>
                  <p class="card-text"><p>Use the calendar to keep track of your upcoming appointments, or to track any event you need to. Just click on a day to add an event.</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
        </div> 
        <div class="contained">
    <b-calendar></b-calendar>
    
        <!--  -->
          <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <!-- trying to get the month buttons to change. -->
              <div class="date">
                <h1></h1>  
                <p></p>  
              </div>
    
                <!-- trying to get the month buttons to change. -->
              <!-- <i onclick="nextMonth()" class="fas fa-angle-right next"></i> -->
              <!-- .............. Make the Arrows href? that link to the next month???..................... -->
                <i  class="fas fa-angle-right next"></i> 
                <!-- <% function nextMonth(){
                    date.setMonth(date.getMonth() + 1);
                } %> -->
            </div>
            <div class="weekdays">
              <div>Sun</div>
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
            </div>
            <div class="days">
                <div class="prev-date">26</div>
                <div class="prev-date">27</div>
                <div class="prev-date">28</div>
                <div class="prev-date">29</div>
                <div class="prev-date">30</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7
                  <h2></h2>                </div>
                <div>8</div>
                <div class="today">9</div>
                <div>1
                  <h2></h2></div>
                <div>1
                  <h2></h2></div>
                <div>1
                  <h2 id="notice"></h2></div>
                <div>1
                  <h2 id="notice"></h2></div>
                <div>1
                  <h2 id="notice"></h2></div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>2
                  <h2 id="notice"></h2></div>
                <div>22</div>
                <div>23</div>
                <div>24</div>
                <div>25</div>
                <div>26</div>
                <div>27</div>
                <div>2
                  <h2></h2></div>
                <div>2
                  <h2></h2></div>
                <div>3
                  <h2></h2></div>
                <div>3
                  <h2></h2></div>
                <div class="next-date">1</div>
                <div class="next-date">2</div>
                <div class="next-date">3</div>
                <div class="next-date">4</div>
                <div class="next-date">5</div>
                <div class="next-date">6</div>
            </div>
    
          </div>
        </div>
            
    
    </div class=footer>
      <footer>
        <nav class="footer-nav">
            <ul>
                <li><a href="/honme">Home</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/dashboard">Cabinet</a></li>
                <li><a href="/contact">Doctors</a></li>
            </ul>
        </nav>
        <small> Copyright Brandon White 2022. </small>        
        </footer>	
        <!-- Linking to the script this way doesn't yet work. MIME erros. And a 404 for the script. Keep working at it. -->
        <script src="/js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
        </body>
        </html>