<!-- <%- include('partials/header') -%>
<!-- <link rel="stylesheet" href="/css/calendar.css" /> -->

<!-- <div class="over">

	<div class="main">
		<div class="guide-card">
            <img src="imgs/contemplate.jpg" class="card-img-top" alt="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Maintain your Schedule</h3>
              <p class="card-text"><p>Use the calendar to keep track of your upcoming appointments, or to track any event you need to. Just click on a day to add an event.</p> -->
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <!-- </div>
          </div> -->
		<!-- <h2>Maintain your schedule.</h2>
			<p>Use the calendar to keep track of your upcoming appointments, or to track any event you need to. Just click on a day to add an event.</p> -->
	<!-- </div> 
	<div class="contained">
      <div class="calendar">
        <div class="month"> -->
			<!-- <i class="fas fa-angle-left prev"></i> -->
			<!-- trying to get the month buttons to change. -->
          <!-- <i onclick="previousMonth()" class="fas fa-angle-left prev"></i> -->
          <!-- <div class="date">
            <h1><%= new Date().toLocaleDateString('en-us', {month: 'long'}) %></h1>  
            <p><%= new Date().toLocaleDateString('en-us', {weekday: 'long', day: 'numeric'}) %></p>  
          </div>
		  <nav aria-label="Page navigation">
			<ul class="pagination">
			  <li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
				  <span aria-hidden="true">«</span>
				</a>
			  </li>
			  <li class="page-item"><a class="page-link" href="#">1</a></li>
			  <li class="page-item"><a class="page-link" href="#">2</a></li>
			  <li class="page-item"><a class="page-link" href="#">3</a></li>
			  <li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
				  <span aria-hidden="true">»</span>
				</a>
			  </li>
			</ul>
		  </nav> -->
			<!-- trying to get the month buttons to change. -->
          <!-- <i onclick="nextMonth()" class="fas fa-angle-right next"></i> -->
		  <!-- .............. Make the Arrows href? that link to the next month???..................... -->
			<!-- <i onclick=" date.setMonth(date.getMonth() + 1)"  class="fas fa-angle-right next"></i>  -->
			<!-- <% function nextMonth(){
				date.setMonth(date.getMonth() + 1);
			} %> -->
        <!-- </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days">
			<div class="prev-date">26</div>
			<div class="prev-date">27</div>
			<div class="prev-date">28</div>
			<div class="prev-date">29</div>
			<div class="prev-date">30</div>
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
			<div>6</div>
			<div>7</div>
			<div>8</div>
			<div class="today">9</div>
			<div>10</div>
			<div>11</div>
			<div>12</div>
			<div>13</div>
			<div>14</div>
			<div>15</div>
			<div>16</div>
			<div>17</div>
			<div>18</div>
			<div>19</div>
			<div>20</div>
			<div>21</div>
			<div>22</div>
			<div>23</div>
			<div>24</div>
			<div>25</div>
			<div>26</div>
			<div>27</div>
			<div>28</div>
			<div>29</div>
			<div>30</div>
			<div>31</div>
			<div class="next-date">1</div>
			<div class="next-date">2</div>
			<div class="next-date">3</div>
			<div class="next-date">4</div>
			<div class="next-date">5</div>
			<div class="next-date">6</div>
		</div>

      </div>
    </div>
	
</div> -->

<!-- <%- include('partials/footer') -%> --> -->
