<%- include('partials/header') -%>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel exampleModal">Add an Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Basic Inputs -->
        <div class="input-group">
          <span class="input-group-text" id="input-group-left-example">@</span>
          <input type="text" class="form-control" action="/" placeholder="Event Type" aria-label="Username" aria-describedby="input-group-left">
        </div>




        <!-- Basic inputs -->
        <!-- THis is pretty cool, but maybe not the best implementation right now.  -->
        <!-- <div class="input-group mb-2">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Event Type</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Appointment</a></li>
            <li><a class="dropdown-item" href="#">Surgery</a></li>
            <li><a class="dropdown-item" href="#">Other</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Time</a></li>
          </ul>
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
        </div> -->
        <!-- <div class="input-group">
          <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
          <button type="button" class="btn btn-outline-secondary">Action</button>
          <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

    <div class="container calItems">

    <div class="card guide-card calCard">
      <img src="imgs/contemplate.jpg" class="card-img-top" alt="card-img-top">
      <div class="card-body">
        <h3 class="card-title">Maintain your Schedule</h3>
        <p class="card-text"><p>Use the calendar to keep track of your upcoming appointments, or to track any event you need to. Just click on a day to add an event.</p>
      </div>
    </div>


    <!-- older -->
     <!-- <div class="calDate container"> -->
      <div class="backer">
        <div class="calendar">
          <div class="month">
            <i class="fas fa-angle-left prev"></i>
          <div class="date">
            <h1></h1>  
            <p></p>  
          </div>
          <i class="fas fa-angle-right next"></i> 
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days">
            <div class="prev-date">26</div>
            <div class="prev-date">27</div>
            <div class="prev-date">28</div>
            <div class="prev-date">29</div>
            <div class="prev-date">30</div>
            <div id="1">1 <span></span></div>
            <div id="2">2<span></span></div>
            <div id="3">3<span></span></div>
            <div id="4">4<span></span></div>
            <div id="5">5<span></span></div>
            <div id="6">6<span></span></div>
            <div id="7">7<span></span></div>
            <div id="8">8<span></span></div>
            <div id="9">9<span></span></div>
            <div id="10">10<span></span></div>
            <div id="11">11<span></span></div>
            <div id="12">12<span></span></div>
            <div id="13">13<span></span></div>
            <div id="14">14<span></span></div>
            <div id="15">15<span></span></div>
            <div id="16">16<span></span></div>
            <div id="17">17<span></span></div>
            <div id="18">18<span></span></div>
            <div id="19">19<span></span></div>
            <div id="20">20<span></span></div>
            <div id="21">21<span></span></div>
            <div id="22">22<span></span></div>
            <div id="23">23<span></span></div>
            <div id="24">24<span></span></div>
            <div id="25">25<span></span></div>
            <div id="26">26<span></span></div>
            <div id="27">27<span></span></div>
            <div id="28">28<span></span></div>
            <div id="29">29<span></span></div>
            <div id="30">30<span></span></div>
            <div id="31">31<span></span></div>
            <div class="next-date">1</div>
            <div class="next-date">2</div>
            <div class="next-date">3</div>
            <div class="next-date">4</div>
            <div class="next-date">5</div>
            <div class="next-date">6</div>
          </div>

        </div>
      </div>
    <!-- </div>   -->



    <!-- </div> -->
    <!-- older -->

<!-- 
<div class="container  col-md-6  mt-3 calDate">
    <div class="card">
        <h3 class="card-header" id="monthAndYear"></h3>
        <table class="table table-bordered table-responsive-sm" id="calendar">
            <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>

            <tbody id="calendar-body">

            </tbody>
        </table>

        <div class="form-inline">

            <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Previous</button>

            <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
        </div>
        <br/>
        <form class="form-inline">
            <label class="lead mr-2 ml-2" for="month">Jump To: </label>
            <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                <option value=0>Jan</option>
                <option value=1>Feb</option>
                <option value=2>Mar</option>
                <option value=3>Apr</option>
                <option value=4>May</option>
                <option value=5>Jun</option>
                <option value=6>Jul</option>
                <option value=7>Aug</option>
                <option value=8>Sep</option>
                <option value=9>Oct</option>
                <option value=10>Nov</option>
                <option value=11>Dec</option>
            </select>


            <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
            <option value=1990>1990</option>
            <option value=1991>1991</option>
            <option value=1992>1992</option>
            <option value=1993>1993</option>
            <option value=1994>1994</option>
            <option value=1995>1995</option>
            <option value=1996>1996</option>
            <option value=1997>1997</option>
            <option value=1998>1998</option>
            <option value=1999>1999</option>
            <option value=2000>2000</option>
            <option value=2001>2001</option>
            <option value=2002>2002</option>
            <option value=2003>2003</option>
            <option value=2004>2004</option>
            <option value=2005>2005</option>
            <option value=2006>2006</option>
            <option value=2007>2007</option>
            <option value=2008>2008</option>
            <option value=2009>2009</option>
            <option value=2010>2010</option>
            <option value=2011>2011</option>
            <option value=2012>2012</option>
            <option value=2013>2013</option>
            <option value=2014>2014</option>
            <option value=2015>2015</option>
            <option value=2016>2016</option>
            <option value=2017>2017</option>
            <option value=2018>2018</option>
            <option value=2019>2019</option>
            <option value=2020>2020</option>
            <option value=2021>2021</option>
            <option value=2022>2022</option>
            <option value=2023>2023</option>
            <option value=2024>2024</option>
            <option value=2025>2025</option>
            <option value=2026>2026</option>
            <option value=2027>2027</option>
            <option value=2028>2028</option>
            <option value=2029>2029</option>
            <option value=2030>2030</option>
        </select></form>
    </div>
</div> 
-->
</div> 


 <%- include('partials/footer') -%> 