<%- include('partials/header') -%>




<div class="container mt-5">
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <h2> <%= Date.getMonth %></h2>
                </thead>
              <tbody>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"><%= Date.getMonth %></th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                </tr>
            </tbody>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>day</td>
                  <td>day</td>
                  <td>day</td>
                  <td>day</td>
                  <td>day</td>
                  <td>day</td>
                  <td>day</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                    <td>day</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
        
    <section class="guide-card">

    </section>



</div>


<%- include('partials/footer') -%>