<%- include('partials/header') -%>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" id="exampleModal" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- -->


 <!-- Modal -->
 <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 -->

<!-- Modal -->

<div class="calDate">

 


  <div class="backer">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
        <div class="date">
          <h1></h1>  
          <p></p>  
        </div>
        <i  class="fas fa-angle-right next"></i>   
      </div>
      <div class="weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div> 
      </div>
      <div class="days"></div>
          
      </div>
    </div>


  </div>


<%- include('partials/footer') -%>