<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h1> Your Doctors. Take a look at their contact information. Add questions you would like to ask them or send a message.</h1>
      

      <% if (this.contacts !== []) { %>

        <h2><%= this.title %></h2>
        <!-- here, contacts is defined  Now, just list them out and add the buttons???? --> 
      <h2><%= this.title %></h2>
      <div class="row justify-content-between">
        
     <% } %>

    
<%- include('partials/footer') -%>
