<%- include('partials/header') -%>
  <div class="container">
       <div class="row mt-5">
           <!-- <div class="col-6"> -->
               <div class="mt-5">
                 <h2>Welcome to LifeLine&trade;</h2>
                 <h3>Have You Taken Your Meds Today?</h3>
  <p>Being mindful and remembering to take your medications exactly as described is one of the keys to maintaining your health. If you haven't already, please be sure to take your medications today. When you're done, don't forget to update your <a href="/calendar">calendar!</a> You can also set or update your calendar to track your upcoming appointments.</p>    

  <div class="guide">
       <div class="guide-card col-6">
            <img src="imgs/SmileDoc1.jpg" class="card-img-top" alt="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Your Doctors</h5>
              <p class="card-text"><a href="/contact">Connect</a> with your care providers, or add a new one.</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
          <div class="guide-card col-6">
            <img src="imgs/blisterMeds.png" class="card-img-top" alt="card-img-top">
                 <div class="card-body">
              <h5 class="card-title">Your Medications</h5>
              <p class="card-text">View or update your current <a href="/dashboard">medications.</a></p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
               </div>
           </div>
       </div>
<!-- <form action="welcome/getContact"  method="GET">
<input type="text"
       placeholder="Medication Name"
       id=":id">
<button>Search List</button>
<button class="clear">Clear</button>
</form> 
<br>
<br>

<h3> Med Information:</h3>
<br>
 <h4 id="medInformation"></h4> -->

</div>
</div>
<%- include('partials/footer') -%>
