
*{
    
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
} 

html{
    font-size: 62.5%;
}

/* 

body, .div, .container{
    background-color: #F3EFF0;
}
*/

.guide{
    display: flex;
    flex-flow: row;
    /* padding: 60px; */
}


 .guide-card {
    padding: 20px;
} 

/*
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 240px;
  
}

/*

.Logo-heart{
    display: flex;
    justify-content: center ;
    width: 50%;
    height: 80%;
}


.login-card{
    width: 600px;
    height: 400px;
    margin: 220px;
    position: fixed;
    top: 120px;
    right: 120px;
    bottom: 120px;
    left: 120px;
}

.btn{

    height: 60px; 
    width: 95px;
    margin-left: 20px;
    padding-top: 5px;
}

.ulta{
    padding-top: 15px;
}

/*
div, header, button {
    border-radius: 20px;
}

.col-3 {
    display: inline;
    width: 80%; 
}


.navbar-brand{
    width: 100%;
    padding-left: 20px;
} 

/* .bottom-nav {
    display: flex;
    align-self: end;
} */


.oops {
   margin: 300px;
}

.tagline{
    color: blue;
    margin: 0 40px 0 40px;
}

div > .mt-5 {
    padding-right: 50px;      
    margin-right: 10px;
}

.welcome{
    margin-top: -30px;
}
 /* .card-body {
    display: flex;
    flex-direction:  wrap;
     height: 80% ; 
} */

/* .col-6 > li {
    border: 2px solid green;
} */

footer{
    display: flex;
    flex-direction: row;
    border-top: 5px solid blue;
    width: 80%;
    justify-self: center;
}

/* ///// Calendar Styling ///// */
