
*{
    
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
} 

.box{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    height: 50vh;
}

a{
    text-decoration: none;
}

a:hover {
    color:firebrick;
}

.col-6 > form{
    width: 75%;
    /* display: flex; */
    /* flex-direction: row; */
    /* border: 2px solid red; */
    /* padding: 10px; */
    /* margin: 5px; */
}
/* html{
    font-size: 62.5%;
} */

/* 

body, .div, .container{
    background-color: #F3EFF0;
}
*/

.guide{
    display: flex;
    flex-flow: row;
    /* padding: 60px; */
}


 .guide-card {
    padding: 20px;
} 


.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin: 20px auto;
  
}

/*

.Logo-heart{
    display: flex;
    justify-content: center ;
    width: 50%;
    height: 80%;
}


.login-card{
    width: 600px;
    height: 400px;
    margin: 220px;
    position: fixed;
    top: 120px;
    right: 120px;
    bottom: 120px;
    left: 120px;
}

.btn{

    height: 60px; 
    width: 95px;
    margin-left: 20px;
    padding-top: 5px;
}

.ulta{
    padding-top: 15px;
}

/*
div, header, button {
    border-radius: 20px;
}

.col-3 {
    display: inline;
    width: 80%; 
}


.navbar-brand{
    width: 100%;
    padding-left: 20px;
} 

/* .bottom-nav {
    display: flex;
    align-self: end;
} */


.oops {
   margin: 300px;
}

.tagline{
    color: blue;
    margin: 0 40px 0 40px;
}

div > .mt-5 {
    padding-right: 50px;      
    margin-right: 10px;
}

.welcome{
    margin-top: -30px;
}
 /* .card-body {
    display: flex;
    flex-direction:  wrap;
     height: 80% ; 
} */    

/* .col-6 > li {
    border: 2px solid green;
} */

footer{
    /* margin-top: 40px auto; */
    /* display: flex; */
    /* flex: end; */
    margin-top: 20px;
    border-top: 5px solid blue;
    width: 80%;
    /* justify-self: center; */
}

/* ///// Calendar Styling ///// */


/* ///// Calendar Styling /////  */
/* 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }   */
  
  .over{
    display:flex;
    /* margin: 5px auto; */
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    border: 5px solid red;
    padding: 20px;

  }

  main{
    padding: 5px;
  }
  .containerO {
    /* position: relative;
    top: 20px;
    width: 80vw;
    height: 100vh; */
    background-color: #12121f;
    color: #eee;
    display: flex;
    /* justify-content: center;
    align-items: center;
    align-self: center; */

 
  }
  
   .calendar {
    width: 45rem;
    height: 52rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    border: 5px solid purple;

  } 
 
  .month {
    width: 100%;
    height: 12rem;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);

  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;

  }
   
   .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;

  }
  
  .month p {
    font-size: 1.6rem;

  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    border-radius: 6px;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: blue;
  }